
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }


  body {

    color: black;
    background-color: rgb(249, 245, 239);
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* top: 0; */


}


.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    }


    @media (min-width: 415px)  {

        body{
            justify-content: center;
            align-items: center;
        }
    
        .main{
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 70vw;
            max-width: 800px;
    
        }

        /* .new-habit-form{
            max-width: 30%;
        } */
    }

    
    .menu-button{

        display: flex;
        flex-direction: column;
        margin-left: 5px;
        width: 45px;
        height: 25px;
        background-color: rgb(249, 245, 239);
        justify-content: space-between; 
        cursor: pointer;
    
    }
    
    .menu-bars {
    
        width: 80%;
        height: 4px;
        background-color: black;
    
    }

    .menu-bars.active {
        background-color:  rgb(174, 25, 32);
        height: 4px;
    
    }

    .triangle-up {
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 18px solid  rgb(255, 191, 0);
        margin-left: 23px;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 40px;
        width: 250px;
        height: auto;
        opacity: 1;
        padding:10px ;
        transition: transform 0.3s ease;
    
    }

    .menu.active {
        display: flex;
    }


    .menu-link-container{
        display: flex;
        flex-direction: column;
        height: auto;
        background-color:  rgb(255, 191, 0);
        border-radius: 7px 7px 7px 7px;
        padding-bottom: 30px;
        padding-top: 15px;

    }

    .menu-link {
        padding: 20px 20px 10px 30px;
        text-decoration: none;
        color: rgb(0,0,0);
        text-shadow: 0 2px 1px rgba(249, 245, 239 0.3);
        font-size: 1.25rem; 
        font-weight: 500;
        background-color: rgb(255, 191, 0);
    }

    .menu-link:active {
        box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3);
        transform: translateY(2px);
        
    }

    .menu-link:hover {
        background-color: rgb(255, 191, 0);
        box-shadow: inset 2px 2px 60px rgba(174, 25, 32, 0.3);
        transform: translateY(2px);
        
    }

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    
    .new-entry {
        background-color: #029807;
        color: rgb(249, 245, 239);
        padding: 12px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 50px;

    }

    .new-entry>a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.25rem;
        letter-spacing: .5px;
        text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);

    }

    .new-habit {
        background-color: #4691fa;
        color: white;
        padding: 12px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 50px;
        width: 200px;
        justify-self: center;


    }

    .new-habit>a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.25rem;
        letter-spacing: .5px;
        text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
    }



    .submit {
        background-color: #4691fa;
        color: white;
        padding: 12px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;

    }

    .submit>a {
        color: white;
        text-decoration: none;
        font-weight: 550;
    }

    .new-entry-input{
        
        height: 30px;
        width: 250px;
        margin-top: 175px;
        margin-inline: auto;
        margin-bottom: 30px;
        color: whitesmoke;
        border: 2px solid rgb(230, 230, 230);
        padding-left: 10px;
        font-weight: 500;
        
    }

    /* .form {
        height: 65vh;
        width: 80vw;
        display: grid;
        gap: 1rem;
        padding: 0px 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    

    } */





/* SETTINGS */

.settings-section {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.settings-section:last-child {
    border-bottom: none;
}

.settings-title {
    font-weight: 700;
    color: #f0c808;
    border-bottom: 2px solid #f0c808;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 16px;
}

.settings-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.settings-item:last-child {
    margin-bottom: 0;
}

.settings-label {
    color: #333;
}

.settings-value {
    color: #555;
}


/* SETTINGS END*/


/* ACCOUNT */


.account-container {
    background-color: rgb(249, 245, 239);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    padding: 10px;
}

.account-section {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.account-section:last-child {
    border-bottom: none;
}

.account-title {
    font-weight: bold;
    color: #f0c808;
    border-bottom: 2px solid #f0c808;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 16px;
}

.account-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.account-item:last-child {
    margin-bottom: 0;
}

.account-label {
    color: #333;
}

.account-value {
    color: #555;
}


/* ACCOUNT END */


/* new entry and habit */



h1 {
    text-align: center;
  }
  
  button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
  }

form label {
    display: block;
    margin: 10px 0 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-left: 5px solid #007BFF;
}

.new-habit-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 10px;
    margin-top: 50px;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(249, 245, 239);
    /* border-radius: 8px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.span2 {
    grid-column: span 2;
}

.separator {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 20px 0;
}

.color-dropdown {
    height: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #ffffff; /* Ensure background color */
    position: relative;
}

.dropdown-arrow {
    position: absolute;
    right: 10px;
    pointer-events: none;
}

.color-palette {
    position: absolute;
    top: 40px;
    left: 0;
    width: 220px;
    border: 1px solid #ccc;
    background: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.color-palette.hidden {
    display: none;
}

.color-box {
    width: 20px;
    height: 20px;
    margin: 2px;
    cursor: pointer;
}

.color-close {
    grid-column: span 10;
    text-align: right;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
}

.toggle-container {
    position: relative;
    width: 60px;
    height: 45px;
}

.toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border: 1px solid #ccc;
    transition: .4s;
    border-radius: 30px;
}

.toggle-label::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 1px;
    background-color: #ccc;
    transition: .4s;
    border-radius: 50%;
}




.toggle-checkbox:checked + .toggle-label {
    background-color: white;
}

.toggle-checkbox:checked + .toggle-label::before {
    transform: translateX(30px);
    background-color: #4CAF50;
    left: 0px;

}

.option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.option-label {
    margin-bottom: 10px;
    font-size: 18px;
}

.tick-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tick-checkbox {
    display: none;
}

.tick-label {
    width: 35px;
    height: 35px;
    background-color: white;
    border: 1px solid #ccc;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

.tick-label::after {
    content: "";
    width: 30px;
    height: 30px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: none;
    transition: transform 0.3s;
}

.tick-checkbox:checked + .tick-label {
    background-color: white;
}

.tick-checkbox:checked + .tick-label::after {
    display: block;
}

.date-selector {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-input {
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
}
